<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MembersOnly</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script>
            // Function to toggle the secret input in the user form
            function toggleSecretInput() {
                const secretInput = document.getElementById('secret');
                const statuses = document.querySelectorAll('input[name="status"]');
                let status = '';
                for (let i = 0; i < statuses.length; i++) {
                    if (statuses[i].checked) {
                        status = statuses[i].value;
                        break;
                    }
                }
                if (status === 'newby') {
                    secretInput.style.display = 'none';
                } else {
                    secretInput.style.display = 'flex';
                }
            }
        </script>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="logo">
                    <img class="logo" src="../images/membersonly-logo.png" alt="logo-membersonly"/>
                </div>
                <% if (currentUser) { %>
                    <div class="greeting">
                        <p>Welcome, <%= currentUser.first_name %></p>
                    </div>
                <% } %>
                <div class="menu">
                    <ul>
                        <li><a class="menu-item" href="/">Home</a></li>
                        <li><a class="menu-item" href="/members">Members</a></li>
                        <% if (!currentUser) { %>
                            <li><a class="menu-item" href="/user/create">Register</a></li>
                            <li><a class="menu-item" href="/user/login">Login</a></li>
                        <% } else { %>
                            <li><a class="menu-item" href="/user/logout">Logout</a></li> <!-- Only is there is someone logged in-->
                        <% } %>
                    </ul>
                </div>
            </div>
            <div class="main">
                <%- body %> <!-- This is where the content will be displayed -->
            </div>
            <div class="footer">
            </div>
        </div>
    </body>
</html>