/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom CSS */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #dbd7c3;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.logo {
  width: 100px;
  height: 100px;
  margin-left: 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #244e40;
  padding: 1rem;
  box-sizing: border-box;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 100%;
}

.menu ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  align-items: end;
}

.menu ul li {
  margin: 0 4rem 0 2rem;
}

.menu-item {
  color: #919d7e;
  font-size: 1rem;
}

.menu-item:hover {
  color: #244e40;
}

.content h1 {
  margin-top: 2rem;
  font-size: 2rem;
  color: #244e40;
  text-align: center;
  text-transform: uppercase;
}

/* Forms */

.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  background-color: #feeed4;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #244e40;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 1.2rem;
}

.form-group label {
  font-size: 1rem;
  margin-bottom: 0.8rem;
}

.form-group input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #244e40;
  opacity: 0.8;
}

.form-group input:focus {
  outline: none;
}

.form-group button {
  margin-top: 1rem;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #244e40;
  background-color: #919d7e;
  color: #fff;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #244e40;
  color: #fff;
}

.form-group p {
  margin-bottom: 2rem;
  font-size: 0.8rem;
}

.radio-group {
  display: flex;
  flex-direction: row;
  width: 100%;
}

input[type="radio"] {
  margin: 0 0.6rem 0 0;
  width: 0.8rem;
}

.radio-label {
  font-size: 0.8rem!important;
  margin-right: 3rem;
}

.errors {
  color: red;
  font-size: 0.8rem;
  margin-top: 1rem;
}

.errors li {
  list-style-type: none;
}